.login-page {
  display: flex;
  height: 100vh;
}

.company-section {

  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(25, 25, 23, 0.352);
}


.login1-page {
  display: flex;
  width:50%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.login-container {
  background-color: rgba(25, 25, 23, 0.115);
  padding: 30px;
  height:550px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  width:300px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.policy{
  font-weight:normal;
  margin-top: -22px;
  margin-left: -70px;
}
.logo{
  background-image: url("mucify.png");
  height:500px;
  width:500px;
  border-radius: 55px;
  
}
.checkbox{
  margin-left: -135px;
}
.rights{
  font-weight: lighter;

}
.music{
  color:#b36e00d2
}
.footer{

  color:black;
  height:20px;
  margin-top : 750px;
  margin-left: -250px;
}

.continue{
  background-color: #eaecef;
  color: black;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  width:300px;
  cursor: pointer;
}

.continue:hover {
  background-color: #aaadb4ce;
}

/* .newbutton{
  margin-top: 600px;
  margin-left: -330px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  width:300px;
  cursor: pointer;
} */
a:link,a:visited{
  color:white;
  text-decoration: none;
}
.newuser{
  /* margin-top: 1200px; */
}

.icon{
  color:black;
}